##------------------------------------------------------------------------------
## Files
*.pyc
*.spec

##------------------------------------------------------------------------------
## Folders
build/
src/build/

!scripts/build ## Do not ignore the build folder on scripts.